<h3>Contact</h3>
<address>
  <p>Telephone: <a href="tel:01252629814">01252 629814</a></p>
  <p>Email: <a href="mailto:info@clearviewcleaningsolutions.co.uk?subject=feedback">info@clearviewcleaningsolutions.co.uk</a></p>
</address>
