<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#009ddf">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Clearview">
    <meta name="application-name" content="Clearview">
    <meta name="msapplication-TileColor" content="#009ddf">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {#- Atom and JSON feeds included by default #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    {#-
    CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
    1. You can add to them using `{% css %}`
    2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
    3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
    4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
    #}

    {#- Add an arbitrary string to the bundle #}
    {%- css %}* { box-sizing: border-box; }{% endcss %}
    {#- Add the contents of a file to the bundle #}
    {%- css %}{% include "public/css/index.css" %}{% endcss %}

    {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>

    <header>
      <a href="/" class="home-link">
        <img src="/img/logo.svg" alt="{{ metadata.title }}">
      </a>
    </header>

    <div class="with-sidebar">
      <main id="skip">
        {{ content | safe }}
      </main>
      <aside>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <nav>
          <h2>Cleaning services</h2>
          <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
        </nav>
        <form name="contact" method="POST" netlify>
          <p>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
          </p>
          <p>
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
          </p>
          <p>
            <label for="tel">Telephone</label>
            <input id="tel" type="tel" name="tel">
          </p>
          <p>
            <label for="message">Message</label>
            <textarea id="message" name="message"></textarea>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>
      </aside>
    </div>

    <footer>
      <h2>Contact</h2>
      <address>
        <p><a href="tel:01252629814">01252 629814</a></p>
        <p><a href="mailto:info@clearviewcleaningsolutions.co.uk?subject=Enquiry">info@clearviewcleaningsolutions.co.uk</a></p>
      </address>
    </footer>

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
