---
layout: layouts/base.njk
title: Window cleaning
eleventyNavigation:
  key: Window cleaning
  order: 2
permalink: "/{{ title | slugify }}/"
---

<h1>Window cleaning</h1>

{% banner "./banner.jpg", "banner" %}

<p>Clearview Cleaning Solutions Ltd offer a regular window cleaning service to homes and commercial properties across London and the home counties. Our staff treat all customers with the utmost care and professionalism you would expect from skilled tradesmen.</p>

{% image "./image1.jpg", "testcard" %}

<p>We use the latest equipment to help our staff clean all those hard-to-reach windows and frames offering our customers complete satisfaction with our service guaranteed.</p>

<p>As windows cleaners we fully understand the importance of ensuring your windows are cleaned to a very high standard leaving your glass spotlessly clean.</p>

{% image "./image2.jpg", "testcard" %}

<p>We service all types of commercial and industrial clients, these currently include Local housing associations, Shopping Centres, Office Blocks, Hotels, Letting Companies, Residential Living and Care Homes.</p>

<ul>
  <li>High Level Window Cleaning</li>
  <li>High Level Gutter Cleaning</li>
  <li>Water Fed Pole Window Cleaning</li>
  <li>Commercial Pressure Washing</li>
  <li>Commercial Cladding Cleaning</li>
  <li>MEWP Access Platforms and Tracked Cherry Pickers</li>
</ul>

{% image "./image3.jpg", "testcard" %}

<p>Health & Safety is also major consideration for us, from personal protective equipment, warning signs and the safe working conditions. All our staff also undertake health and safety level 1 certificates, CITB and IPAF training.</p>

{% image "./image4.jpg", "testcard" %}

<p>Before we start any window cleaning work on your premises, we carry out a Dynamic Risk Assessment taking into consideration all the relevant working conditions, various appropriate types of access, any work at height requirements, necessary equipment, and other appropriate considerations. All staff will be briefed on the risks and methods involved signing the documents to say they fully understand what’s required. We are fully insured to protect you and your premises as well as ourselves.</p>
